server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true  # 开启从注册中心动态创建路由
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://USER-SERVICE  # lb://表示负载均衡
          predicates:
            - Path=/user/**  # 映射到用户服务的路由
          filters:
            - StripPrefix=0  # 去掉/user前缀

        - id: user-service-static
          uri: lb://USER-SERVICE
          predicates:
            - Path=/css/**, /js/**, /images/**, /uploads/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: TRACE